body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img_animation {
  animation-name: tran;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes tran {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}


@-webkit-keyframes tran {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }

}

.web_div {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 35%;
  height: 550px;
  border-radius: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

.input_city {
  border: none;
  outline: none;
  height: 45px;
  width: auto;
  border-radius: 10px;
  font-size: large;
  padding-left: 1rem;

}

.input_city:focus {
  border: 4px solid rgb(206, 204, 204);
}

.outer_div {
  display: flex;
  width: 100%;
  height: 100vh;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}